{% extends "evler_template.html" %}
{% block content %}
<div>
    <div class="col-md-12 text-center">
        <a href="/evler?dolu=1" class="btn btn-success btn-lg btn-block" style="font-size:90px">
            Dolu Evler
        </a>
        <br>
        <br>
        <a href="/evler?dolu=2" class="btn btn-danger btn-lg btn-block" style="font-size:90px">
            Kirası Artacak Evler
        </a>
        <br>
        <br>
        <a href="/evler?dolu=0" class="btn btn-lg btn-warning btn-block" style="font-size:90px">
            Boş Evler
        </a>
    </div>
</div>
{% endblock %}t