{% extends "kisiler_template.html" %}
{% block content %}
{% if success_message != 'None' %}
<font size="14">
    <div class="alert alert-success" id="success-alert">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <strong>Başarılı! </strong> {{ success_message }}
    </div>
</font>
{% endif %}
<div class="container">
    <h1>
        <a class='btn btn-success pull-right' href = "/create_kisi?rol_id={{ rol_id }}" name="{{ tip }}">
            <span class="buttons">{{ tip }} Ekle
        </span></a>

        </button>
    </h1>
</div>
<div class="container">
    <h1>
        <font size="22">
            {{ tip_for_header }}
        </font>
    </h1>
    <input class="form-control" id="search_box" type="text" placeholder="Ara">
    <br>
    <font size="5">
        <table class="table" id="kisiler_table">
            <thead>
            {%- for column_name in column_names %}
            <th>{{ column_name }}</th>
            {%- endfor %}
            </thead>
            <tbody id="kisi_table_body">
            {%- for row in kisiler %}
            <tr>
                <td><a href="{{ view_url + row[0]|string }}"> {{ row[1] + " " + row[2] }}</a></td>
                <td>{{ row[3] }}</td>
            </tr>
            {%- endfor %}
            </tbody>
        </table>
    </font>
</div>
<script>
$(document).ready(function(){
  $("#search_box").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#kisi_table_body tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});


</script>
{% endblock %}